* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* setting font*/
body {
  font-family: Noto Sans;
}
/* designing the menu */
.navbar {
  display: flex;
  align-items: center;
  padding: 20px;
}
nav {
  flex: 1;
  text-align: right;
}
nav ul {
  display: inline-block;
  list-style-type: none;
}
nav ul li {
  display: inline-block;
  margin-right: 20px;
}
a {
  text-decoration: none;
  color: #555;
}
p {
  color: #555;
}
.heading {
  text-align: center;
}
.header {
  background: radial-gradient(#e6ffff, #e6ffff);
}
.header row {
  margin-top: 60px;
}

.container {
  max-width: 1300px;
  margin: auto;
  padding-left: 25px;
  margin-right: 25px;
}
.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}
/* about us */
.about {
  max-width: 1080px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 50px;
}
.heading {
  text-align: center;
  margin: 0 auto 80px;
  position: relative;
  line-height: 60px;
  color: #00334d;
}
.heading::after {
  content: "";
  background: #80ffbf;
  width: 80px;
  height: 5px;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.col-2 {
  flex-basis: 50%;
  padding: 10px;
  min-width: 200px;
  margin-bottom: 50px;
  transition: transform 0.5s;
}
.aboutus {
  text-align: justify;
  border: 5px solid rgb(201, 190, 241);
  border-radius: 30px;
  padding: 20px;
}
/* testimonials 
.border {
  border: 3px solid black;
  padding: 10px;
  margin-left: 500px;
  margin-right: 500px;
  border-radius: 30px;
}
*/

/* footer */
.footer {
  background: #000;
  color: #8a8a8a;
  font-size: 14px;
  padding: 60px 0 20px;
}
.footer p {
  color: #8a8a8a;
}
.footer h3 {
  color: #fff;
  margin-bottom: 20px;
}
.footer-col-1,
.footer-col-2,
.footer-col-3,
.footer-col-4 {
  min-width: 250px;
  margin-bottom: 20px;
}
.footer-col-1 {
  flex-basis: 30%;
}
.footer-col-2 {
  flex: 1;
  text-align: center;
}
.footer-col-2 img {
  width: 180px;
  margin-bottom: 20px;
}
.footer-col-3,
.footer-col-4 {
  flex-basis: 12%;
  text-align: center;
}
ul {
  list-style-type: none;
}
.app-logo {
  margin-top: 20px;
}
.app-logo img {
  width: 140px;
}
.footer hr {
  border: none;
  background: #b5b5b5;
  height: 1px;
  margin: 20px 0;
}
.Copyright {
  text-align: center;
}
.menu {
  width: 28px;
  margin-left: 20px;
  display: none;
}
